# managed by Ansible for Certbot/Let's Encrypt

ssl_certificate {{ letsencrypt_cert_path }}/fullchain.pem;
ssl_certificate_key {{ letsencrypt_cert_path }}/privkey.pem;
include /etc/letsencrypt/options-ssl-nginx.conf;
ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
